@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

body{

    font-family:"Comic Neue", cursive;

}

.container{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding: var(--padding-container);
}

:root {
    --padding-container: 100px 0;
    --color-title: #001A49;
}

.cuerpo {
    width: 100%;
    height: 100vh;
    min-height: 600px;
    max-height: 800px;
    position: relative;
    display: grid;
    grid-template-rows: 100px 1fr;
    color: #ffffff;
}

.cuerpo::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(180deg, #0000008c 0%, #0000008c 100%), url('../imagenes/tecnico-electronico-curso-online.jpg');
    background-size: cover;
    clip-path: polygon(50% 0%, 100% 0, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 0 0);
    z-index: -1;
}

.nav{
    --padding-container: 0;
    height: 100%;
    width: 98%;
    display: flex;
    align-items: center;
}

/* para los <h2> */
.tituloA{
    font-weight: 300;
}

/* para los <lu> */
.n_menu {
    margin-left: auto;
    padding: 0;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap: 2em;
}

/* para los <li> */
.li_estilos{
    list-style: none;
}

/* para los Links de la barra del menu*/
.barras_li {
    color: #fff;
    text-decoration: none;
}
/*parte, para los dispositivos*/
.n_ficha{
    margin-left: auto;
    cursor: pointer;
    display: none;
}

/* imagenes o figura svg */
.n_imagen {
    display: block;
    width: 30px;
}

.n_salida{
    display: var(--show, none);
}

/* cuerpo de la section */
.cuerpo_container{
    max-width: 800px;
    --padding-container: 0;
    display: grid;
    grid-auto-rows: max-content;
    align-content: center;
    gap: 1em;
    padding-bottom: 100px;
    text-align: center;
}

.cuerpo_titulo {
    font-size: 3rem;
}

.cuerpo_parrafo {
    margin-bottom: 20px;
}

.Registro {
    display: inline-block;
    background-color: #1e1ba1;
    justify-self: center;
    color: #fff;
    text-decoration: none;
    padding: 13px 30px;
    border-radius: 32px;
}

/* estilos de la seccion_info */

.seccion {
    text-align: center;
}

.tituloB {
    color: var(--color-title);
    font-size: 2rem;
    margin-bottom: 25px;
}

.info__paragraph {
    line-height: 1.7;
}

.seccion__lista{
    padding-top: 80px;
    display: grid;
    width: 90%;
    margin: 0 auto;
    gap: 1em;
    overflow: hidden;
    grid-template-columns: repeat(auto-fit, minmax(260px, auto));
}

.seccion__logos{
    display: grid;
    gap: 1em;
    justify-items: center;
    width: 260px;
    overflow: hidden;
    margin: 0 auto;
}
.seccion__img{
    width: 200px;
}
.Seccion_iconos {
    width: 40px;
}

/* Estilo para la solcitud */

.soli {
    background-color: #e5e5f7;
    overflow: hidden;
    background-image: radial-gradient(#6e699c 0.9px, #36369e 0.9px);
    background-size: 18px 18px;
}

.soli_container{
    display: flex;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    align-items: center;
}

.soli_figura{
    max-width: 500px;
}

.soli_parrafo{
    color: #ffffff;
    line-height: 1.7;
    margin-bottom: 15px;
    font-size: 20px
    
}

.soli_img{
    width: 100%;
    display: block;
}

.titulo2{
    font-size: 2rem;
    margin-bottom: 25px;
    color: #ffffff;
}

/* Footer */

.footer{
    background-color: #151d2c;
    overflow: hidden;
   
}

.footer__title{
    font-weight: 200;
    font-size: 2rem;
    margin-bottom: 30px;
}

.footer__title, .footer__newsletter{
    color: #fff;
}


.footer__container{
    display: flex;
    align-items: center;
    border-bottom: 1px solid #fff;
    padding-bottom: 1px;
    gap: 1em;
    grid-auto-flow: row;
    height: 100%;
    grid-template-columns: 1fr 1fr;
}



.nav__link--footer{
    display: flex;
    margin: 0;
    margin-right: -12px;
    flex-wrap: wrap;
}

.footer__inputs{
    margin-top: -20px;
    display: grid;
    margin-right: 10px;
}


.footer__copy{
    --padding-container: 30px 0;
    text-align: center;
    color: #fff;
}

.footer__icons{
    margin-bottom: 10px;
}

.footer__img{
    width: 30px;
}

.footer__foto{
    position: relative;
    top: -15px; 
    left: 400px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 30%;
    border:2px solid #fff;
    display: block;
}

.container_fooster{
    width: 90%;
    max-width: 1200px;
    max-height: 300px;
    margin: 0 auto;
    overflow: hidden;
    padding: var(--padding-container);
}

.footer_figura{
    max-width: 500px;
}

/* celular */
@media (max-width:800px){
    .n_ficha{
        display: block;
    }

    .n_menu--link{
        position: fixed;
        background-color: #000000;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        z-index: 100;
        opacity: 0;
        pointer-events: none;
        transition: .7s opacity;
    }

    .nav__link--show{
        --show: block;
        opacity:1 ;
        pointer-events: unset;
    }

    .n_salida{
        position: absolute;
        top: 30px;
        right: 30px;
        width: 30px;
        cursor: pointer;
    }

    .cuerpo_titulo{
        font-size: 2.5rem;
    }


    .seccion__lista{
        gap: 2em;
    }

    .seccion__logos:last-of-type{
        grid-column: 1/-1;
    }


    .soli_container{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: max-content 1fr;
        gap: 3em;
        text-align: center;
    }

    .soli_figura{
        grid-row: 1/2;
        justify-self: center;
    }

    .nav__link--footer{
        width: 100%;
        justify-content: center;
        margin: 0;
    }

    .nav--footer{
        flex-wrap: wrap;
        width: 100%;
        justify-items: center;
    }

    .footer_figura{
        max-width: 0px;
    }

    
}

@media (max-width:600px){
    .cuerpo_titulo{
        font-size: 2rem;
    }

    .nav__link--show{
        --show: block;
        opacity:1 ;
        pointer-events: unset;
    }


    .cuerpo_parrafo{
        font-size: 1rem;
    }

    .tituloB{
        font-size: 1.8rem;
    }

    .titulo2{
        justify-self: center;
        margin-bottom: 15px;
    }

    .nav--footer{
        padding-bottom: 60px;
        flex-wrap: wrap;
        width: 100%;
        justify-items: flex-start;
    }

    .nav__link--footer{
        justify-content: flex-end;
        flex-wrap: wrap;
        width: 100%;
    }

    .footer_figura{
        max-width: 0px;
    }

}